<!DOCTYPE html>
<html>
    <head>
        <title>Talent Acquisiton</title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/css/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form name="curriculo" class="container " method="POST" action="/submeterCurriculo" id="pagperfil">
            <div id="perfil">
                <div class="row m-2 text-white">
                    <h1 class="bg-primary p-1 col-2 border border-primary">Perfil</h1>
                </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-5">
                    <label for="nome">Nome completo*:</label>
                    <input type="text" class="form-control" placeholder="Insira seu nome completo" name="perfil[nome]" required>
                </div>
                <div class="form-group col-4 col-md-2">
                    <label for="dataDeNascimento">Data de nascimento*:</label>
                    <input type="date" class="form-control" placeholder="Insira a data de nascimento" name="perfil[dataDeNascimento]" required>
                </div>
                    <input type="hidden" class="form-control" name="perfil[idade]" required>
                <div class="form-group col-4 col-md-2">
                    <label for="estadoCivil">Estado civil*:</label>
                    <select class="form-control selecao" name="perfil[estadoCivil]" required>
                            <option>Solteiro(a)</option>
                            <option>Casado(a)</option>
                            <option>Divorciado(a)</option>
                            <option>Separado(a)</option>    
                            <option>Viúvo(a)</option>
                    </select>
                </div>
                <div class="form-group col-4 col-sm-3">
                    <label for="nacionalidade">Nacionalidade*:</label>
                    <input type="text" class="form-control" placeholder="insira sua nacionalidade" name="perfil[nacionalidade]" required>
                </div>
            </div>
            <div class="form-row">
                
            </div>
            <div class="form-row">
                <div class="form-group col-4">
                        <label for="cep">CEP*:</label>
                        <input type="text" class="form-control" placeholder="Insira o CEP" name="contato[cep]" id="cep" required>
                </div>
                <div class="form-group col-4">
                        <label for="bairro">Bairro*:</label>
                        <input type="text" class="form-control" placeholder="Insira o bairro" name="contato[bairro]" id="bairro" required>
                </div>
                <div class="form-group col-4">
                    <label for="cidade">Cidade*:</label>
                    <input type="text" class="form-control" placeholder="Insira o nome da cidade" name="contato[cidade]" id="cidade" required>
                </div>
                <div class="form-group col-12 col-sm-6">
                    <label for="endereco">Endereço*:</label>
                    <input type="text" class="form-control" placeholder="Insira seu endereço" name="contato[endereco]" id="endereco" required>
                </div>
                <div class="form-group col-6 col-sm-3">
                        <label for="numero">Número*:</label>
                        <input type="text" class="form-control" placeholder="Insira o número" name="contato[numero]" id="numero" required>
                </div>
                <div class="form-group col-6 col-sm-3">
                        <label for="numero">Complemento:</label>
                        <input type="text" class="form-control" placeholder="Insira o complemento" name="contato[complemento]" id="complemento">
                </div>
                <div class="form-group col-6">
                    <label for="estado">Estado*:</label>
                    <select class="form-control" class="form-control" name="contato[estado]" id="estado" required>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                    </select>        
                </div>
                <div class="form-group col-6">
                    <label for="telefone">Telefone*:</label>
                    <input type="text" class="form-control" placeholder="Insira seu telefone" name="contato[telefone]" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="email">E-mail*:</label>
                    <input type="email" class="form-control" placeholder="Insira seu e-mail" name="contato[email]" required>
                </div>
                <div class="form-group col-6">
                    <label for="website">Website:</label>
                    <input type="url" class="form-control" placeholder="Insira seu website" name="contato[website]">
                </div>
            </div> 
            </div>

            <div id="formacao">
                <div class="row m-2 text-white">
                    <h1 class="bg-primary p-1 col-3 border border-primary">Formação</h1>
                </div>
                    <button type="button" value="Adicionar formação" onclick="adicionarFormacao()" class="btn btn-outline-secondary">Adicionar formação</button>
                    <button type="button" value="Remover formação" onclick="removerFormacao()" class="btn btn-outline-secondary">Remover formação</button>
                </div>
            </div>

            <div id="idiomas">
                    <div class="row m-2 text-white">
                    <h1 class="bg-primary p-1 col-2 border border-primary">Idiomas</h1>
                </div>
                    <button type="button" value="Adicionar idioma" onclick="adicionarIdioma()" class="btn btn-outline-secondary">Adicionar idioma</button>
                    <button type="button" value="Remover idioma" onclick="removerIdioma()" class="btn btn-outline-secondary">Remover idioma</button>
                </div>    
            </div>

            <div id="experiencia">
                    <div class="row m-2 text-white">
                    <h1 class="bg-primary p-1 col-3 border border-primary">experiencia</h1>
                </div>
                    <button type="button" value="Adicionar experiência" onclick="adicionarExperiencia()" class="btn btn-outline-secondary">Adicionar experiência</button>
                    <button type="button" value="Remover experiencia" onclick="removerExperiencia()" class="btn btn-outline-secondary">Remover experiencia</button>
                </div>
            </div>

            <div id="adicionais">
                    <div class="row m-2 text-white">
                    <h1 class="bg-primary p-1 col-3 border border-primary">adicionais</h1>
                </div>
                    <textarea class="form-control" rows="5" name="informacoesAdicionais" placeholder="Insira quaisquer informações que achar pertinentes."></textarea>
                </div>    
            </div>

            <div id="enviar">
                <button type="submit" value="Enviar currículo!" class="btn btn-outline-success">Enviar currículo!</button>
            </div>

        </form>

        <div name="novoIdioma" hidden>
            <div class="form-row" name="idioma">
                <div class="form-group col-12">
                    <label for="idioma">Idioma:</label>
                    <input type="text" class="form-control" id="idioma" name="idiomas[0][idioma]">
                </div>
            </div>
            <div class="form-row" name="fluencia">
                <div class="form-group col-12">
                    <label for="fluencia">Nível de fluência:</label>
                    <select name="idiomas[0][nivelDeFluencia]" class="form-control">
                        <option value="Básico">Básico</option>
                        <option value="Intermediário">Intermediário</option>
                        <option value="Avançado">Avançado</option>
                        <option value="Fluente">Fluente</option>
                    </select>
                </div>
            </div>
            <div class="form-row" name="instituicao">
                <div class="form-group col-12">
                    <label for="instituicaoDeEnsino">Instituição:</label>
                    <input type="text" id="instituicaoDeEnsino" name="idiomas[0][instituicao]" class="form-control">
                </div>      
            </div>
        </div>

        <div name="novaFormacao" class="container" hidden>
            <div class="form-row">
                <div class="form-group col">
                    <label for="titulo">Título:</label>
                    <input type="text" class="form-control" id="titulo" name="formacao[0][titulo]" required>
                </div>
                <div class="form-group col">
                    <label for="instituicao">Instituição:</label>
                    <input type="text" id="instituicao" class="form-control" name="formacao[0][instituicao]" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="inicioDaFormacao">Ano de início:</label>
                    <input type="number" id="inicioDaFormacao" class="form-control" name="formacao[0][inicioDaFormacao]" required>
                </div>
                <div class="form-group col">
                    <label for="fimDaFormacao">Ano de finalização:</label>
                    <input type="number" id="fimDaFormacao" class="form-control" name="formacao[0][fimDaFormacao]" required>
                </div>
            </div>
            <label for="comentarios">Comentários:</label>
            <textarea class="form-control" rows="5" id="comentarios" name="formacao[0][comentarios]"></textarea>
        </div>

        <div name="novaExperiencia" class="container" hidden>
            <div class="form-row">
                <div class="form-group col">
                    <label for="cargo">Cargo:</label>
                    <input type="text" id="cargo" class="form-control" name="experiencias[0][cargo]" required>
                </div>
                <div class="form-group col">
                    <label for="empresa">Empresa:</label>
                    <input type="text" id="empresa" class="form-control" name="experiencias[0][empresa]" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="inicioDaExperiencia">Ano de início:</label>
                    <input type="number" id="inicioDaExperiencia" class="form-control" name="experiencias[0][inicioDaExperiencia]" required>
                </div>
                <div class="form-group col">
                    <label for="fimDaExperiencia">Ano de fim:</label>
                    <input type="number" id="fimDaExperiencia" class="form-control" name="experiencias[0][fimDaExperiencia]" required>
                </div>
            </div>
            <label for="descricao">Descrição do cargo:</label>
            <textarea class="form-control" rows="5" id="descricao" name="experiencias[0][descricao]" required></textarea></div>

        <script src="../public/javascript/jquery-3.4.1.min.js"></script>
        <script src="../public/javascript/scriptSubmeterCurriculo.js"></script>
    </body>
</html>