<!DOCTYPE html>
<html>
    <head>
        <title>Talent Acquisiton</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../public/css/style.css" type="text/css">
    </head>
    <body>
        <form name="curriculo" method="POST" action="/curriculo">
            <div id="perfil">
                <h1>Perfil:</h1>
                <label for="nome">Nome*:</label>
                <input type="text" name="nome" required>
                <label for="idade">Idade*:</label>
                <input type="number" name="idade" required>
                <label for="estadoCivil">Estado civil*:</label>
                <input type="text" name="estadoCivil" required>
                <label for="nacionalidade">Nacionalidade*:</label>
                <input type="text" name="nacionalidade" required><br><br>
                <label for="idiomas">Idiomas*:</label>
                <input type="button" value="Adicionar idioma" onclick="adicionarIdioma()">
                <input type="button" value="Remover idioma" onclick="removerIdioma()">
            </div>

            <div id="contato">
                <h1>Contato:</h1>
                <label for="endereco">Endereço*:</label>
                <input type="text" name="endereco" required>
                <label for="telefone">Telefone*:</label>
                <input type="text" name="telefone" required>
                <label for="email">E-mail*:</label>
                <input type="email" name="email" required>
                <label for="website">Website:</label>
                <input type="url" name="website">
            </div>

            <div id="formacao">
                <h1>Formação:</h1>
                <input type="button" value="Adicionar formação" onclick="adicionarFormacao()">
                <input type="button" value="Remover formação" onclick="removerFormacao()">
            </div>

            <div id="experiencia"></div>
                <h1>Experiências:</h1>
                
                <input type="button" value="Adicionar experiência" onclick="adicionarExperiencia()">
                <input type="button" value="Remover experiencia" onclick="removerExperiencia()">
            </div>

            <div id="adicionais">
                <h1>Informações adicionais:</h1>
                <input type="text" name="informacoesAdicionais" placeholder="Insira quaisquer informações que achar pertinentes." style="height: 100px; width: 800px">
            </div>

            <div id="enviar">
                <input type="submit" value="Enviar currículo!">
            </div>
        </form>

        <script src="../public/javascript/jquery-3.4.1.min.js"></script>
        <script src="../public/javascript/script.js"></script>
    </body>
</html>