<!DOCTYPE html>
<html>
    <head>
        <title>Talent Acquisiton</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/css/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <style>
            body {
                background-color:dimgrey;
                }
        </style>
    </head>
    <body>
        <form name="curriculo" class="container" method="POST" action="/submeterCurriculo">
            <div id="perfil">
            <h1>Perfil:</h1>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome Completo:</label>
                    <input type="text" class="form-control" placeholder="Insira seu nome completo" name="nome" required>
                </div>
                <div class="form-group col-xs-1">
                    <label for="dataDeNascimento">Data de Nascimento:</label>
                    <input type="date" class="form-control" placeholder="Insira a data de nascimento" name="dataDeNascimento" required>
                </div>
                <div class="form-group col-xs-1">
                        <label for="idade">Idade:</label>
                        <input type="number" class="form-control" placeholder="Insira a sua idade" name="idade" required>
                    </div>
            </div>
            <div class="form-row">
                <div class="form-group col-xs-3">
                    <label for="estadoCivil">Estado Civil:</label>
                    <select class="form-control" name="estadoCivil" required>
                            <option>Solteiro(a)</option>
                            <option>Casado(a)</option>
                            <option>Divorciado(a)</option>
                            <option>Separado(a)</option>    
                            <option>Viúvo(a)</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="nacionalidade">Nacionalidade:</label>
                    <input type="text" class="form-control" placeholder="insira sua nacionalidade" name="nacionalidade" required><br>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="endereco">Endereço:</label>
                    <input type="text" class="form-control" placeholder="Insira seu endereço" name="endereco" required>
                </div>
                <div class="form-group col-sm-3">
                    <label for="bairro">Bairro:</label>
                    <input type="text" class="form-control" placeholder="Insira o bairro" name="bairro" required>
                </div>
                <div class="form-group col-xs-3">
                    <label for="cidade">Cidade:</label>
                    <input type="text" class="form-control" placeholder="Insira o nome da cidade" name="cidade" required>
                </div>
                <div class="form-group col-xs-2">
                    <label for="estado">Estado:</label>
                    <select class="form-control" class="form-control" name="estado" required>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                    </select>        
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="telefone">Telefone:</label>
                    <input type="text" class="form-control" placeholder="Insira seu telefone" name="telefone" required>
                </div>
                <div class="form-group col">
                    <label for="email">E-mail:</label>
                    <input type="email" class="form-control" placeholder="Insira seu e-mail" name="email" required>
                </div>
                <div class="form-group col">
                    <label for="website">Website:</label>
                    <input type="url" class="form-control" placeholder="Insira seu website" name="website">
                </div>
            </div> 
            </div>

            <div id="formacao">
                <div class = "form-group">
                    <h1>Formação:</h1>
                    <button type="button" value="Adicionar formação" onclick="adicionarFormacao()" class="btn btn-outline-secondary">Adicionar formação</button>
                    <button type="button" value="Remover formação" onclick="removerFormacao()" class="btn btn-outline-secondary">Remover formação</button>
                </div>
            </div>

            <div id="idiomas">
                <div class = "form-group">
                    <h1>Idioma:</h1>
                    <button type="button" value="Adicionar idioma" onclick="adicionarIdioma()" class="btn btn-outline-secondary">Adicionar idioma</button>
                    <button type="button" value="Remover idioma" onclick="removerIdioma()" class="btn btn-outline-secondary">Remover idioma</button>
                </div>    
            </div>

            <div id="experiencia">
                <div class = "form-group">    
                    <h1>Experiências:</h1>
                    <button type="button" value="Adicionar experiência" onclick="adicionarExperiencia()" class="btn btn-outline-secondary">Adicionar experiência</button>
                    <button type="button" value="Remover experiencia" onclick="removerExperiencia()" class="btn btn-outline-secondary">Remover experiencia</button>
                </div>
            </div>

            <div id="adicionais">
                <div class = "form-group">
                    <h1>Informações adicionais:</h1>
                    <textarea class="form-control" rows="5" name="informacoesAdicionais" placeholder="Insira quaisquer informações que achar pertinentes."></textarea>
                </div>    
            </div>

            <div id="enviar">
                <button type="submit" value="Enviar currículo!" class="btn btn-outline-success">Enviar currículo!</button>
            </div>
        </form>

        <script src="../public/javascript/jquery-3.4.1.min.js"></script>
        <script src="../public/javascript/scriptSubmeterCurriculo.js"></script>
    </body>
</html>