
body{
    background-image: linear-gradient(140deg,#d9e1ec,#94a0b9);
    min-height: 100vh;
    color: rgb(76, 81, 85) !important;
    font-family: 'Roboto', sans-serif;
}

.doidera{
    border: 1px solid red;
}

