li {
    list-style-type: none;
}

#listaBox{
    background-color:green;
    overflow-y: scroll;
    margin-right: 250px;
}

#listaCurriculo{
    background-color:blueviolet;
    height: 70px;
    border-color: blue;
    border-style: solid;
    border-width:2px;
    border-radius: 2px;
}
