li {
    list-style-type: none;
}

h1{
    text-align: center;
}

#listaBox{
    background-color:green;
    height: 600px;
    margin-right: 250px;
    overflow-y: auto;
}

#listaCurriculo{
    background-color:blueviolet;
    height: 70px;
    border-color: blue;
    border-style: solid;
    border-width:2px;
    border-radius: 2px;
}
