.tituloBanco{
    text-align: center;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

#listaCurriculo{
    background-color:whitesmoke;
    height:80px;
    border-top: 1px solid #a3a3c2;
    border-right: 1px solid #a3a3c2;
    border-left: 1px solid #a3a3c2;
}

.finalBorder:last-child {
    border-bottom: 1px solid #a3a3c2;
}

