.tituloBanco{
    text-align: center;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

body{
    background-image: linear-gradient(140deg,#0a2d61,#35415c,#12772c) !important;
    min-height: 100vh;
}

#listaCurriculo{
    background-color:whitesmoke;
    border-top: 1px solid #a3a3c2;
    border-right: 1px solid #a3a3c2;
    border-right: 1px solid #a3a3c2;
    min-height: 120px;
}

.finalBorder:last-child {
    border-bottom: 1px solid #a3a3c2;
}