body{
    background-image: linear-gradient(140deg,#0a2d61,#35415c,#12772c) !important;
    
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100vh;
    
    padding-bottom: 30px;
}
body form{
    margin-top: 2%;
    color: white;
}

input[type=text]:focus, input[type=email]:focus, input[type=date]:focus, input[type=url]:focus,input[type=number]:focus, #comentarios:focus, #descricao:focus, #infadd:focus, #estado:focus, #idiomasec:focus{   
  border-color: #2ecc71;
  background-color : #191919;
}

#pagperfil{
    width: 85%;
    background-color:#191919;
    border-color:#191919;
    border-style: solid;
    border-width:3px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 3px 5px 0px rgb(2, 2, 2);
    -moz-box-shadow: 0px 3px 5px 0px rgb(7, 7, 7);
    box-shadow: 0px 3px 5px 0px rgb(0, 0, 0);
}

input[type=text], input[type=email], input[type=date],input[type=url],input[type=number],#comentarios, #descricao, #infadd, #estado, #idiomasec{ 
    border:0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #3498db;
    outline: none !important;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
 }
 
html {
    scroll-behavior: smooth;
}

#enviar{
    margin-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}

#formEscondido {
    display: none;
}

.avg{
    margin-bottom: 2%;
    padding-top: 2%;
    display: block;
    margin-right: 1%;
}

.faa-burst{
    margin-bottom: 5%;
    padding-top: 5%;
    display: block;
    margin-right: 1%;
    padding-bottom: 4%;
}

.mtem {
    margin-top: 2em;
}

a:hover .fa
{
    -webkit-animation:fa-spin 1s;animation:fa-spin 1s
}

/* PULSE */
@keyframes pulse {
	0% {transform: scale(1.1)}
 	50% {transform: scale(0.8)}
 	100% {transform: scale(1.1)}
}
.faa-pulse.animated.faa-slow,
.faa-pulse.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-slow {
	animation: pulse 3s linear infinite;
}

/* WAVE */
@keyframes burst {
	0% {opacity:.6}
	50% {transform:scale(1.8);opacity:0}
	100%{opacity:0}
}
.faa-burst.animated,
.faa-burst.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-burst {
	animation: burst 2s infinite linear
}
.faa-burst.animated.faa-fast,
.faa-burst.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-burst.faa-fast {
	animation: burst 1s infinite linear
}
.faa-burst.animated.faa-slow,
.faa-burst.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-burst.faa-slow {
	animation: burst 3s infinite linear
}

